body {
    margin: 0;
}
canvas {
    position: absolute
}
#gui_container{
  position: absolute;
}
#heightmap {
    border: 1px solid #AAAAAA;
    height: 128px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 128px;
    z-index: 1;
}

.lil-gui { 
	--width: 400px;
    --widget-height: 30px;
	--name-width: 20%;
    --slider-input-width: 10%;
}